<div id = "main" align = "center">
<h1 align = "center">Sign up for the new season <%= link_to 'here', new_user_path %></h1>
<%= image_tag "nick_cast.jpg" %>
</div>

<h1 align = "center">Draft Begins Sunday 1/8 at 8pm EST</h1>
