<h1>Greetings Bachelor Nation!</h1>
<%= link_to 'New Weekly Pick', new_pick_path %>
<p><%= link_to 'View Scores', controller: 'scores' %>
<p><%= link_to 'View All Draft Picks', controller: 'drafts' %>
